* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #F7F7F7;
}

.emp-dash-main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* border: 2px solid black; */
    width: 100%;
    min-height: 100vh;
}

.emp-dash-header {
    width: 100%;
    height: 13.25vh;
    /* border: red 2px solid; */
    background-color: white;
    position: relative;
}

.emp-dash-nav-link-add {
    text-decoration: none;
    color: white;
}

.emp-dash-logo-div {
    display: flex;
    gap: 0.3rem;
    text-align: left;
    font: normal normal bold 1rem/1.2rem Montserrat;
    text-transform: capitalize;
    opacity: 1;
    position: relative;
    margin-top: 1.5rem;
    margin-left: 5%;
}

.emp-dash-logo-div img {
    width: 2.5rem;
    height: 2.5rem;
}

.emp-dash-title p:first-of-type {
    font-weight: bold;
    color: #82A70C;
}

.emp-dash-title p:last-of-type {
    color: #42515F;
}

.emp-dash-main-content {
    background-color: #F7F7F7;
    /* height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.emp-dash-nav {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.emp-dash-nav h2 {
    text-align: left;
    font: normal normal bold 28px/25px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    font-size: 1.75rem;
}



.emp-dash-nav-search img {
    width: 1.2rem;
    height: 1.2rem;
    /* margin-left: 1rem; */
}

.emp-dash-nav-functions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.emp-dash-nav-add-user {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
    height: 2.5rem;
    width: 8rem;
    background: #82A70C 0% 0% no-repeat padding-box;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.emp-dash-nav-add-user img {
    width: 1rem;
    height: 1rem;
}

.emp-dash-table {
    width: 85%;
    margin: auto;
    border-collapse: collapse;
}

.emp-dash-table-content {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.emp-dash-table-header {
    background: #42515F 0% 0% no-repeat padding-box;
    border-radius: 3px 3px 0px 0px;
}

.emp-dash-table-header tr td {
    text-align: center;
    padding: 1rem;
    width: auto;
    /* font-weight: bold;  */
    color: white;
}

tbody tr {
    border-bottom: 1px solid #E0E0E0;
}

.emp-dash-table-body tr td {
    text-align: center;
    padding: 1rem;
    width: auto;
    background-color: white;
    /* font-weight: bold;  */
    /* color: white; */
}

.emp-dash-table-body {
    border: 2px solid #E0E0E0;
}

.emp-dash-table-body-img {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.emp-dash-table-body-img img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.emp-main-search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    max-width: 500px;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    gap: 0.5rem;
}

.emp-dash-nav-search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    font-size: 1.2rem;
    cursor: pointer;
}

.emp-main-search-box input {
    outline: none;
    border: none;
    width: 100%;
    background-color: transparent;
    font-size: 1rem;
    padding: 0.2rem;
    color: #333;
}

.emp-main-search-box input::placeholder {
    font-size: 0.9rem;
}
#del-btn-search{
    width: 2%;
    font-size: 1.3rem;
    border: 1px black;
    border-radius: 40%;
}